@charset "UTF-8";
body{
background-color: #c4ba8d;
}
h1{
color:#6E5C0C;

}
#principal{
    background-color: aquamarine;
    color: brown;
    text-align: center;


}
h2{
    color: #f1d34b;

}
.basico{
    color: blue;

}
.intermediario{
    color: blueviolet;

}
.avancado{
    color: darkgreen;

}
.destaque{
    background-color: rgb(154, 248, 248);
}