@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
   background-color: rgb(255, 255, 255);
}
.box{
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s ease;
    text-decoration: solid;
    text-align: justify;
}
.box:hover{
    width: 200px;
    background-color: green;
    border-radius: 35px;
    color: #ffffff;
    box-shadow: 0 0 50px #505050;
    


}
.box:nth-child(1):hover{
    background-color: rgba(255, 0, 0, 0.664);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.445);
}
.box:nth-child(2):hover{
    background-color: rgba(255, 0, 242, 0.89);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.432);
}
.box:nth-child(3):hover{
    background-color: rgba(26, 1, 255, 0.521);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.473);
}
.navbar p{
    transform: translate(60px);
}
a{
    text-decoration: none;
}
h1{
    text-decoration: solid;
}